@use "../var/colors" as *;

.dealsMiniCard-container {
  padding: 10px;
  margin: 20px;
  border: 2px solid $purple;
  box-shadow: 5px 5px 10px grey;
}

.dealsMiniCard-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid $purple
}